<mat-toolbar  color="primary" fxLayout fxLayoutAlign.gt-xs="center">
  <mat-toolbar-row ngClass.xs="mat-toolbar-xs" fxFlex.gt-xs="80%" fxLayout="row">
    <button mat-icon-button fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">
      <img class="logo" src="../../../assets/images/logo.png">
    </a>
    <span fxFlex="grow"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="authSVC.isLoggedIn">
        <span>{{authSVC.authUser.name}}</span>
      </button>
      <button mat-menu-item *ngIf="authSVC.isLoggedIn" (click)="authSVC.logout()">
        <span>Esci</span>
      </button>
      <button mat-menu-item *ngIf="!authSVC.isLoggedIn" (click)="authSVC.login()">
        Accedi
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>