<div class="welcome" fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="column" class="mat-elevation-z1">
    <div class="banner-container">
      <slideshow *ngIf="bannerArray" fxHide.lt-sm [imageUrls]="bannerArray" [backgroundSize]="'cover'" [autoPlay]="true" [height]="'370px'"></slideshow>
      <slideshow *ngIf="bannerArray" fxHide.gt-xs [imageUrls]="bannerArray" [backgroundSize]="'contain'" [autoPlay]="true" [height]="'200px'" ></slideshow>

    </div>
    <a routerLink="/chi-siamo" aria-label="Scopri Cubing Italy">
      <div class="quick-links">
        <span>Benvenuto! Clicca qui per scoprire di più su Cubing Italy!</span>
      </div>
    </a>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <a href="https://www.facebook.com/cubingitaly/" target="_blank" class="quick-links fb mat-elevation-z1" fxFlex="33%"
      fxLayout="column" fxLayoutAlign="center center">
      <img class="fb-color" src="/assets/images/fb-color.svg">
      <img class="fb-white" src="/assets/images/fb-white.svg">
      <span>Seguici su Facebook</span>
    </a>
    <a routerLink="/tutorial/imparare-a-risolvere-il-cubo" target="_blank" class="quick-links  mat-elevation-z1" fxFlex="33%" fxLayout="column"
      fxLayoutAlign="center center">
      <img src="/assets/images/mastercubo.png">
      <span>Impara a risolvere</span>
    </a>
    <a href="https://www.worldcubeassociation.org/competitions?utf8=%E2%9C%93&region=Italy&search=&state=present&year=all+years&from_date=&to_date=&delegate=&display=list"
      target="_blank" class="quick-links  mat-elevation-z1" fxFlex="33%" fxLayout="column" fxLayoutAlign="center center">
      <img src="/assets/images/wca.svg">
      <span>Partecipa a una gara</span>
    </a>
  </div>
</div>