<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="90%" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex.gt-xs="70%">
      <h1>Ultimi articoli</h1>
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-card class="card" *ngFor="let article of articles">
          <mat-card-title class="card-title z-depth-1">
            <a routerLink="../../{{article.id}}">{{article.title}}</a>
          </mat-card-title>
          <mat-card-subtitle class="card-subtitle">pubblicato da {{article.author.name}}, ultimo aggiornamento il {{article.updateDate | date:"shortDate"}}</mat-card-subtitle>
          <mat-card-content class="card-content">
            <p>{{article.summary}}</p>
          </mat-card-content>
          <mat-card-actions class="card-actions" align="end">
            <button mat-button routerLink="../../{{article.id}}">LEGGI</button>
          </mat-card-actions>
        </mat-card>
        <mat-paginator [pageIndex]="page-1" [length]="articlesNumber" [pageSize]="articlePerPage" [pageSizeOptions]="[articlePerPage]"
          (page)="pageChange($event)">
        </mat-paginator>
      </div>

    </div>
    <div fxFlex.gt-xs="30%">
      <div fxLayout="column">
        <h2 fxHide>Filtra articoli</h2>
      </div>
      <div fxLayout="column" *ngIf="user && user.canAdminArticles()">
        <h2>Gestione Articoli</h2>
        <button mat-button style="text-align: left" routerLink="/articles/new" *ngIf="user.canAdminArticles()">
          <mat-icon>add_box</mat-icon> Nuovo articolo</button>
        <button mat-button style="text-align: left" routerLink="/articles/admin" *ngIf="user.canAdminArticles()">
          <mat-icon>format_list_bulleted</mat-icon> Gestisci articoli</button>
      </div>
    </div>
  </div>
</div>