
.header-image {
    margin-top:5px;
    background-image: url('../../../../assets/images/user.png');
    background-size: cover;
  }

mat-card h2{
    margin:0;
}
mat-card-title a{
    text-decoration: none;
    color: #000;/*#073C65;*/
}


mat-card-actions{
    padding-left:16px;
    padding-right: 16px;
}