<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="90%" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex.gt-xs="70%">
      <h1>Ultimi articoli</h1>
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-card *ngFor="let article of articles">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>
              <h2>
                <a routerLink="../../{{article.id}}" color="accent">{{article.title}}</a>
              </h2>
            </mat-card-title>
            <mat-card-subtitle>pubblicato da {{article.author.name}}, ultimo aggiornamento il {{article.updateDate | date:"shortDate"}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{article.summary}}
            </p>
          </mat-card-content>
          <mat-card-actions align="end" fxHide>
            <button mat-raised-button color="accent" (click)="goToArticle(article.id)">Leggi</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <mat-paginator [pageIndex]="page-1" [length]="articlesNumber" [pageSize]="articlePerPage" [pageSizeOptions]="[articlePerPage]" (page)="pageChange($event)">
      </mat-paginator>
    </div>
    <div fxFlex.gt-xs="30%">
      <div fxLayout="column">
        <h2 fxHide>Filtra articoli</h2>
      </div>
      <div *ngIf="user && user.canAdminArticles()" class="quick-links" fxLayout="column">
        <h2>Collegamenti rapidi</h2>
        <a routerLink="/articles/admin">Visualizza gestore articoli</a>
        <a routerLink="/articles/new">Crea nuovo articolo</a>
      </div>
    </div>
  </div>
</div>