<mat-toolbar>
    <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="center center">
        <span fxFlex="nogrow" fxFlex.xs="100%" ngStyle.xs="text-align:center"><i class="copy">&copy;</i> 2018 - Cubing Italy</span>
        <a href="https://www.facebook.com/cubingitaly/" aria-label="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.youtube.com/user/CubingItaly" aria-label="youtube"><i class="fa fa-youtube"></i></a>
        <a href="https://t.me/cubingitaly"><i class="fa fa-telegram"></i></a>
        <a href="https://www.instagram.com/cubingitaly/"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/CubingItaly"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/CubingItaly/cubingitaly.org"><i class="fa fa-github"></i></a>
    </mat-toolbar-row>
</mat-toolbar>