.mat-column-options{
    flex: 0 0 100px;
    text-align:center;
}


.mat-column-name{
    flex: 1 0 100px;
}


.mat-column-options a{
    color: #000;
}

mat-header-cell{
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.mat-table{ 
    overflow: auto;
}
  