.btt-container{
    position:fixed;
    bottom:70px;
    width: 100%;
    z-index: 999999;
}


a{
    cursor: pointer;
    color: white;
    background-color: #073C65;
    font-size: 18px;
}

.mat-button{
    min-width: 1%;
}
