.mat-header-cell{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.mat-column-name{
    flex: 1 0 150px;
}

.mat-column-options {
    flex: 0 0 100px !important;
    white-space: unset !important;
    justify-content: center;
}

.mat-table{
    overflow: auto;
}

h4{
    margin: 10px 0 10px 0;
}

a{
    color: #000;
    text-decoration: none;
}

h1{
    margin-bottom:0px !important;
}