<div fxLayout fxLayoutAlign="center">
    <div fxFlex.gt-xs="80%" fxFlex.xs="95%" fxLayout="column" fxLayoutGap="30px" fxLayoutGap.xs="10px;">
        <h2>Gestione dei team</h2>
        <span *ngIf="errorMessage !== undefined">{{errorMessage}}</span>

        <mat-table [dataSource]="teams">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a routerLink="/teams/{{element.id}}/admin">
                        {{element.name}}
                    </a>
                </mat-cell>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef>Opzioni</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a routerLink="/teams/{{element.id}}/admin">
                        <mat-icon>person</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>