<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="95%" fxLayout="column" fxLayoutGap="20px" class="container-editor">
  
    <a routerLink="/teams/info/edit">Guarda l'editor</a>
    <h2>Struttura</h2>
    <mat-list fxLayout.xs="column">
      <div *ngFor="let t of teams">
        <mat-list-item>
          <h3>{{t.name}}</h3>
        </mat-list-item>
        <ul>
          <div *ngFor="let m of mapTeamMembers[t.id]">
            <li>
              {{m.name}}
            </li>
          </div>
        </ul>
      </div>
    </mat-list>
  </div>
</div>