<div fxLayout="column" fxLayoutGap="20px" class="article-container">
  <ng-container *ngFor="let article of articles$ | async">
    <mat-card>
      <mat-card-title fxLayout>
        <div fxFlex="grow">
          <h2 ngClass.xs="article-title-xs"><a routerLink="/articles/{{article.id}}">{{article.title}}</a></h2>
          <mat-card-subtitle>di {{article.author.name}}</mat-card-subtitle>
        </div>
        <div fxLayout="column" class="date">
          <div class="month">{{article.publishDate | date:"MMM" | uppercase}}</div>
          <div class="day">{{article.publishDate | date:"dd"}}</div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <p>{{article.summary}}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>