.month{
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    background-color: #0B5EA6;
    color:white;
}

.date-label{
    margin-top:0px;
}

.date-number{
    background-color: #f4f4f4;
    text-align: center;
    font-size: 14px;
    padding: 15px;
}

h3{
    margin:0px;
}
h3 a{
    text-decoration: none;
    color: #000;
    margin-top:5px;
}
article{
    margin-bottom: 30px;
}