<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="90%" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex.gt-xs="75%" fxLayout="column">
      <h1 *ngIf="isNew">Nuovo Articolo</h1>
      <h1 *ngIf="!isNew">Modifica Articolo</h1>
      <mat-form-field>
        <input matInput placeholder="Titolo" [(ngModel)]="article.title">
      </mat-form-field>
      <mat-form-field>
        <textarea maxlength="200" matInput matTextareaAutosize placeholder="Riassunto" [(ngModel)]="article.summary"></textarea>
      </mat-form-field>

      <h2>Contenuto</h2>
      <summernote *ngIf="articleLoaded" [(ngModel)]="article.content" ngDefaultControl></summernote>

      <h2 *ngIf="article">Categorie</h2>

      <mat-form-field *ngIf="article">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let category of article.categories" [selectable]="false" [removable]="true" (remove)="remove(category.id)">
            {{category.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Aggiungi categoria..." #categoryInput [formControl]="categoryControl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>



      <h2>Azioni</h2>
      <div *ngIf="user">
        <button mat-raised-button *ngIf="isNew && user.canAdminArticles()" (click)="createArticle()" style="background-color:rgb(52, 156, 57);">Crea</button>
        <button mat-raised-button *ngIf="!isNew && user.canEditArticles()" (click)="updateArticle()" color="accent">Aggiorna</button>
        <button mat-raised-button *ngIf="user.canAdminArticles()" (click)="deleteArticle()" color="warn">Elimina</button>
        <button mat-raised-button *ngIf="!isNew && !isPublic && user.canAdminArticles()" (click)="publishArticle()" style="background-color:rgb(52, 156, 57);">Pubblica</button>
        <button mat-raised-button *ngIf="isPublic && user.canAdminArticles()" (click)="unpublishArticle()" style="background-color:rgb(223, 169, 69);">Nascondi</button>

      </div>
    </div>
    <div fxFlex.gt-xs="25%" fxLayout="column">
      <h2>Stato articolo</h2>
      <span *ngIf="isNew">Nuovo</span>
      <span *ngIf="!isNew && isPublic">Articolo pubblicato</span>
      <span *ngIf="!isNew && !isPublic">Articolo nascosto</span>
      <span *ngIf="!isNew && article">Creazione articolo: {{article.creationDate | date:"short"}}</span>
      <span *ngIf="!isNew && article">Ultimo aggiornamento: {{article.updateDate | date:"short"}}</span>
      <div fxLayout="column" *ngIf="user && user.canEditArticles()">
        <h2>Gestione Articoli</h2>
        <button mat-button style="text-align: left" routerLink="../" *ngIf="!isNew">
          <mat-icon>open_in_browser</mat-icon> Visualizza articolo</button>
        <button mat-button style="text-align: left" routerLink="/articles/new" *ngIf="user.canAdminArticles()">
          <mat-icon>add_box</mat-icon> Nuovo articolo</button>
        <button mat-button style="text-align: left" routerLink="/articles/admin" *ngIf="user.canAdminArticles()">
          <mat-icon>format_list_bulleted</mat-icon> Gestisci articoli</button>
      </div>
      <h2>Collegamenti rapidi</h2>
      <button mat-button style="text-align: left" routerLink="https://tinyurl.com/">
        <mat-icon>link</mat-icon> URL Shortner</button>
    </div>
  </div>
</div>