<div fxLayout="column" *ngIf="authSVC.isLoggedIn && authSVC.authUser.canEditArticles()">
  <h2>Gestione Articoli</h2>
  <a routerLink="/articles/{{articleId}}/edit" *ngIf="articleId && !editing"><i class="fa fa-edit"></i>
    Modifica Articolo</a>
  <a routerLink="/articles/{{articleId}}" *ngIf="articleId && editing"><i class="fa fa-eye"></i>
    Visualizza Articolo</a>
  <a routerLink="/articles/new" *ngIf="authSVC.authUser.canAdminArticles()"><i class="fa fa-plus-square"></i> Nuovo
    Articolo</a>
  <a routerLink="/articles/admin" *ngIf="authSVC.authUser.canAdminArticles()"><i class=" fa fa-list"></i> Gestione
    Articoli</a>
</div>