<div fxLayout="column">
  <h2>Gestione Articoli</h2>
  <a routerLink="/articoli/edit/{{articleId}}" *ngIf="articleId && !editing"><i class="fa fa-edit"></i>
    Modifica Articolo</a>
  <a routerLink="/articoli/{{articleId}}" *ngIf="articleId && editing"><i class="fa fa-eye"></i>
    Visualizza Articolo</a>
  <ng-container *ifRole="'aArticles'">
    <a routerLink="/articoli/new"><i class="fa fa-plus-square"></i> Nuovo
      Articolo</a>
    <a routerLink="/articoli/admin"><i class=" fa fa-list"></i> Gestione
      Articoli</a>
  </ng-container>
</div>