<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="90%" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex.gt-xs="75%">
      <h1 *ngIf="isNew">Nuovo Articolo</h1>
      <h1 *ngIf="!isNew">Modifica Articolo <i class="fa fa-check" style="color:green" *ngIf="updated"></i>
      </h1>
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-form-field>
          <input matInput placeholder="Titolo" [(ngModel)]="article.title">
        </mat-form-field>
        <mat-form-field>
          <textarea maxlength="200" matInput matTextareaAutosize placeholder="Riassunto" [(ngModel)]="article.summary"></textarea>
        </mat-form-field>

        <h2>Contenuto</h2>
        <ckeditor [editor]="editor" [(ngModel)]="article.content"></ckeditor>

        <h2 *ngIf="article">Categorie</h2>
        <mat-form-field>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let category of article.categories" [selectable]="selectable" [removable]="removable"
              (removed)="remove(category.id)">
              {{category.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Nuova categoria" #categoryInput [formControl]="categoryControl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let cat of filteredCategories" [value]="cat.id">
              {{cat.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <h2>Azioni</h2>
        <div *ngIf="user">
          <button mat-raised-button *ngIf="isNew && user.canAdminArticles()" (click)="createArticle()" style="background-color:rgb(52, 156, 57);">Crea</button>
          <button mat-raised-button *ngIf="!isNew && user.canEditArticles()" (click)="updateArticle()" color="accent">Aggiorna</button>
          <button mat-raised-button *ngIf="user.canAdminArticles()" (click)="deleteArticle()" color="warn">Elimina</button>
          <button mat-raised-button *ngIf="!isNew && !isPublic && user.canAdminArticles()" (click)="publishArticle()"
            style="background-color:rgb(52, 156, 57);">Pubblica</button>
          <button mat-raised-button *ngIf="isPublic && user.canAdminArticles()" (click)="unpublishArticle()" style="background-color:rgb(223, 169, 69);">Nascondi</button>
        </div>
      </div>

    </div>
    <div fxFlex.gt-xs="25%">
      <div fxLayout="column">
        <h2>Stato articolo</h2>
        <span *ngIf="isNew">Nuovo</span>
        <span *ngIf="!isNew && isPublic">Articolo pubblicato</span>
        <span *ngIf="!isNew && !isPublic">Articolo nascosto</span>
        <span *ngIf="isPublic && article">Pubblicato da: {{article.author.name}}</span>
        <span *ngIf="isPublic && article">Pubblicazione articolo: {{article.publishDate | date:"short"}}</span>
        <span *ngIf="isPublic && article">Modificato da: {{article.lastEditor.name}}</span>
        <span *ngIf="!isNew && article">Ultima modifica: {{article.updateDate | date:"short"}}</span>
      </div>
      <div fxLayout="column">
        <article-editor-quick-actions [editing]=true [articleId]="article.id"></article-editor-quick-actions>
      </div>
    </div>
  </div>
</div>