mat-toolbar-row{
    padding-left: 0px;
    padding-right: 0px;
}

#top img{
    height: 36px;
}

.toolbar-gt-xs mat-toolbar-row{
    padding-left: 10%;
    padding-right:10%;
}   
.toolbar-gt-xs #top{
    height: 110px;
}

.toolbar-gt-xs #top img{
    margin-left: 0px;
    height: 54px;
}

router-outlet{
    margin-top: 60px;
}

.spacer{
    min-height:  100%;
}

mat-sidenav{
    width: 200px;
}

.mat-sidenav a{
    text-decoration: none;
    width:100%;
    color: #000;
    text-align: left;
}

.a-selected{
    background-color: #e4e4e4;
}

.main-container{
    min-height: 90vh;
}

.menu-icon{
    font-size: 18px;
    margin-right:5px;
}