<app-toolbar [menuUrls]="menuUrls" [(ngModel)]="isSidebarOpened" ngDefaultControl></app-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav class="example-sidenav" mode="over" [(opened)]="isSidebarOpened" fxHide.gt-sm>
        <button mat-button style="height: 0; position: absolute;"></button>
        <mat-list>
            <mat-list-item *ngFor="let url of menuUrls">
                <a mat-button routerLink="{{url.url}}" (click)="urlClicked()" [ngClass]="{'a-selected': url.isSelected}" *ngIf="!url.login || user?.id"><i
                        class="fa fa-{{url.icon}} menu-icon"></i>{{url.text | uppercase}}</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <div class="main-container">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</mat-sidenav-container>