<app-toolbar [menuUrls]="menuUrls" [(ngModel)]="isSidebarOpened" ngDefaultControl></app-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav class="example-sidenav" mode="over" [(opened)]="isSidebarOpened" fxHide.gt-xs>
        <mat-list>
            <mat-list-item *ngFor="let url of menuUrls">
                <button mat-button (click)="urlClicked(url.url)" fxFlex="grow" style="background-color:#d4d4d4" *ngIf="url.isSelected"><i class="fa fa-{{url.icon}} menu-icon" aria-hidden="true"> </i>{{url.text | uppercase}}</button>
                <button mat-button (click)="urlClicked(url.url)" fxFlex="grow" *ngIf="!url.isSelected"><i class="fa fa-{{url.icon}} menu-icon" aria-hidden="true"> </i>{{url.text | uppercase}}</button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <div class="main-container">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</mat-sidenav-container>