<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="90%" fxLayout="column" fxLayoutGap="30px" fxLayoutGap.xs="10px;">

    <div fxLayout="row" fxLayout.xs="column">
      <h1 fxFlex="grow">Gestione Articoli</h1>
      <button fxHide.xs mat-button fxFlex="noshrink" routerLink="../../new">
        <mat-icon>add_box</mat-icon>Nuovo articolo</button>
      <button fxHide.gt-xs mat-button fxFlex="noshrink" style="text-align: left" routerLink="../../new">
        <mat-icon>add_box</mat-icon>Nuovo articolo</button>

    </div>


    <mat-table [dataSource]="articles">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Titolo</mat-header-cell>
        <mat-cell *matCellDef="let article">
          <a routerLink="../../{{article.id}}">{{article.title}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef>Autore</mat-header-cell>
        <mat-cell *matCellDef="let article">{{article.author.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef>Aggiornamento</mat-header-cell>
        <mat-cell *matCellDef="let article">{{article.updateDate | date:"short"}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Stato</mat-header-cell>
        <mat-cell *matCellDef="let article">
          <span *ngIf="article.isPublic" class="public-article">Pubblicato</span>
          <span *ngIf="!article.isPublic" class="hidden-article">Nascosto</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Opzioni</mat-header-cell>
        <mat-cell *matCellDef="let article">
          <button mat-icon-button routerLink="../../{{article.id}}/edit" aria-label="Modifica articolo">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button routerLink="../../{{article.id}}" aria-label="Visualizza articolo">
            <mat-icon>open_in_browser</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row fxFlexAlign="center" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageIndex]="page-1" [length]="articlesNumber" [pageSize]="articlePerPage" [pageSizeOptions]="[articlePerPage]"
      (page)="pageChange($event)">
    </mat-paginator>



  </div>
</div>