<mat-toolbar color="primary" class="z-depth-1">
    <mat-toolbar-row class="first" ngClass.lt-md="first-ld-md" ngClass.gt-sm="first-gt-sm" fxLayout="row" fxLayoutAlign="start center">
        <button class="sidenav-button" mat-icon-button fxFlex="noshrink" fxHide.gt-sm (click)="sideMenuButtonClicked()">
            <mat-icon>menu</mat-icon>
        </button>
        <a href="https://www.cubingitaly.org"><img src="/assets/images/logo.png" fxFlex="noshrink" /></a>
        <span fxFlex="grow"></span>

   <!--
    <button fxHide.gt-sm class="login-button" mat-icon-button fxFlex="noshrink" *ifRole="'guest'" (click)="authSVC.login()">
            <i class="fa fa-sign-in"></i>
        </button>
        <button fxHide.gt-sm class="login-button" mat-icon-button fxFlex="noshrink" *ifRole="'user'"
            [matMenuTriggerFor]="logoutMenu">
            <mat-icon>person</mat-icon>
        </button>

        <button fxHide.lt-md class="login-button" mat-button fxFlex="noshrink" *ifRole="'guest'" (click)="authSVC.login()">
            <i class="fa fa-sign-in"></i> <span>Accedi</span>
        </button>
        <button fxHide.lt-md class="login-button" mat-button fxFlex="noshrink" *ifRole="'user'" [matMenuTriggerFor]="logoutMenu">
            <mat-icon>person</mat-icon> <span>{{(user$ | async)?.name}}</span>
        </button>

        <mat-menu #logoutMenu="matMenu" xPosition="before" [overlapTrigger]="false">
            <a routerLink="/panel" mat-menu-item fxHide.gt-sm>
                <span>{{(user$ | async)?.name}}</span>
            </a>
            <button mat-menu-item (click)="authSVC.logout()">
                <span>Esci</span>
            </button>
        </mat-menu>
    -->
    </mat-toolbar-row>
    <mat-toolbar-row class="second" fxHide.lt-md>
        <ng-container *ngFor="let url of menuUrls">
            <a routerLink="{{url.url}}" [ngClass]="{'a-selected': url.isSelected}" *ngIf="!url.login || (user$ | async)?.id"><i
                    class="fa fa-{{url.icon}} menu-icon"></i>{{url.text | uppercase}}</a>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>