<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="90%" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex.gt-xs="70%">
      <h1>Ultimi articoli</h1>
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-card class="card" *ngFor="let article of articles">
          <mat-card-title class="card-title">
            <a routerLink="../../{{article.id}}">{{article.title | titlecase}}</a>
          </mat-card-title>
          <mat-card-subtitle class="card-subtitle">{{article.author.name}}, {{article.publishDate | date:"shortDate"}}
            - {{article.publishDate | date:"shortTime"}}</mat-card-subtitle>
          <mat-card-content class="card-content">
            <p>{{article.summary}}</p>
          </mat-card-content>
          <mat-card-actions class="card-actions" align="end">
            <button mat-button routerLink="../../{{article.id}}">LEGGI</button>
          </mat-card-actions>
        </mat-card>
        <mat-paginator [pageIndex]="page-1" [length]="articlesNumber" [pageSize]="articlesPerPage" [pageSizeOptions]="[articlesPerPage]"
          (page)="pageChange($event)">
        </mat-paginator>
      </div>

    </div>
    <div fxFlex.gt-xs="30%">
      <div fxLayout="column">
        <article-editor-quick-actions></article-editor-quick-actions>
      </div>
    </div>
  </div>
</div>