<div fxLayout fxLayoutAlign="center">
    <div fxFlex.gt-sm="80%" fxFlex.lt-md="90%" fxLayout fxLayout.lt-md="column" fxLayoutGap="20px" *ngIf="tutorials">
        <div fxFlex.gt-sm="75%">
            <page-component [pageId]="pageId"></page-component>
            <mat-table [dataSource]="tutorials" class="mat-elevation-z1">

                <ng-container matColumnDef="title">
                    <mat-cell *matCellDef="let tutorial">
                        <a routerLink="/tutorial/{{tutorial.id}}">{{tutorial.title[0] | uppercase}}{{tutorial.title.substr(1)}}</a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-cell *matCellDef="let tutorial">
                        <a routerLink="/tutorial/{{tutorial.id}}" *ifRole="'!ePages'">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a routerLink="/tutorial/edit/{{tutorial.id}}" *ifRole="'ePages'">
                            <i class="fa fa-edit"></i>
                        </a>
                    </mat-cell>
                </ng-container>

                <mat-row fxFlexAlign="center" *matRowDef="let row; columns: ['title','options']"></mat-row>
            </mat-table>
        </div>
        <div fxFlex.gt-sm="25%">
            <div fxLayout="column">
                <tutorial-editor-quick-actions *ifRole="'ePages'"></tutorial-editor-quick-actions>
            </div>
        </div>
    </div>
</div>