<div fxLayout fxLayoutAlign="center">
    <div fxFlex.gt-xs="80%" fxFlex.xs="90%" fxLayout fxLayout.xs="column" fxLayoutGap="20px" *ngIf="tutorials">
        <div fxFlex.gt-xs="75%">
            <page-component [pageId]="pageId"></page-component>
            <mat-table [dataSource]="tutorials" class="mat-elevation-z4">

                <ng-container matColumnDef="title">
                    <mat-cell *matCellDef="let tutorial">
                        <a routerLink="/tutorial/{{tutorial.id}}">{{tutorial.title | titlecase}}</a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-cell *matCellDef="let tutorial">
                        <a routerLink="/tutorial/{{tutorial.id}}" *ngIf="!authSVC.authUser || !authSVC.authUser.canEditPages()">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a routerLink="/tutorial/{{tutorial.id}}/edit" *ngIf="authSVC.authUser && authSVC.authUser.canEditPages()">
                            <i class="fa fa-edit"></i>
                        </a>
                    </mat-cell>
                </ng-container>




                <mat-row fxFlexAlign="center" *matRowDef="let row; columns: ['title','options']"></mat-row>
            </mat-table>
        </div>
        <div fxFlex.gt-xs="25%">
            <div fxLayout="column">
                <tutorial-editor-quick-actions></tutorial-editor-quick-actions>
            </div>
        </div>
    </div>
</div>