/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';

@font-face{
  font-family: 'Google Sans';
  src: url('assets/fonts/googlesans/GoogleSans-Regular.ttf')format('truetype')
}

html,body{
  height: 100%;
}

body { 
  margin: 0;
  background-color: #FAFAFA;
}

* {
  font-family: 'Google Sans','GoogleSans',Roboto, Arial, sans-serif;
  line-height: 1.4;
}