<mat-card>
  <mat-card-title ngClass.xs="mat-card-title-xs">
    <a routerLink="/about" fxLayout>
      <span fxFlex="grow">Benvenuto su Cubing Italy!</span><i fxFlex="noshrink" class="fa fa-info-circle"></i>
    </a>
  </mat-card-title>
  <mat-card-content>
    <p>Cubing Italy si colloca all’interno della WCA, la <a href="https://worldcubeassociation.org">World Cube Association</a>, e ne fa sua la missione: diffondere lo
      speedcubing attraverso l’organizzazione di sempre più competizioni ufficiali e la partecipazione a dimostrazioni,
      fiere ed eventi simili.</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button routerLink="/about" color="primary">Scopri di Più</button>
  </mat-card-actions>
</mat-card>