<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="90%" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex.gt-xs="75%" *ngIf="article">

      <h1>{{article.title}}</h1>

      <p style="color: grey">
        <i>Pubblicato da {{article.author.name}}, ultimo aggiornamento il {{article.updateDate | date:'shortDate' }} alle {{article.updateDate
          | date:'shortTime'}}</i>
      </p>

      <summernote-viewer [content]="article.content"></summernote-viewer>

    </div>

    <div fxFlex.gt-xs="25%" fxLayout="column">
      <div>
        <h2>Condividi Articolo</h2>
        <div>
          <share-buttons fxHide.gt-xs [show]="3" [include]="['facebook','telegram','whatsapp','twitter','email','copy']"></share-buttons>
          <share-buttons fxHide.xs fxHide.gt-sm [show]="4" [include]="['facebook','telegram','whatsapp','twitter','email','copy']"></share-buttons>
          <share-buttons fxHide.lt-md fxHide.gt-md [show]="6" [include]="['facebook','telegram','whatsapp','twitter','email','copy']"></share-buttons>
          <div fxHide.lt-lg fxLayout="column">
            <share-buttons [include]="['facebook','twitter','copy']"></share-buttons>
            <share-buttons [include]="['telegram','whatsapp','email']"></share-buttons>
          </div>
        </div>
      </div>
      <div>
        <h2>Categorie</h2>
        <mat-chip-list *ngIf="article">
          <mat-chip selected="true" *ngFor="let chip of article.categories">
            {{chip.name}}
          </mat-chip>
        </mat-chip-list>

      </div>
      <div fxLayout="column" *ngIf="user && user.canEditArticles()">
        <h2>Gestione Articoli</h2>
        <button mat-button style="text-align: left" routerLink="./edit" *ngIf="user.canEditArticles()">
          <mat-icon>edit</mat-icon> Modifica articolo</button>
        <button mat-button style="text-align: left" routerLink="/articles/new" *ngIf="user.canAdminArticles()">
          <mat-icon>add_box</mat-icon> Nuovo articolo</button>
        <button mat-button style="text-align: left" routerLink="/articles/admin" *ngIf="user.canAdminArticles()">
          <mat-icon>format_list_bulleted</mat-icon> Gestisci articoli</button>
      </div>
    </div>

  </div>
</div>