.mat-header-cell{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.mat-column-name{
    flex: 1 0 150px;
}

.mat-column-options, .mat-column-leader, .mat-column-id {
    flex: 0 0 100px !important;
    white-space: unset !important;
    justify-content: center;
}

.mat-form-field{
    width: 250px;
}

.mat-table{
    overflow: auto;
}

h4{
    margin: 10px 0 10px 0;
}

a{
    color: #000;
    text-decoration: none;
    width: 100%;
}

.mat-row:hover{
    background-color: #e4e4e4;
}

i{
    font-size: 16px;
}