<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-xs="80%" fxFlex.xs="95%" fxLayout="column" fxLayoutGap="30px" fxLayoutGap.xs="10px;">
    <h2>Gestione Membri</h2>
    <p *ngIf="team">{{team.name}}</p>
    <span *ngIf="errorMessage !== undefined">{{errorMessage}}</span>

    <mat-table [dataSource]="users">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="leader">
        <mat-header-cell *matHeaderCellDef>Leader</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <mat-icon>done</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Opzioni</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <ng-container>
            <button mat-icon-button (click)="demoteLeader(user.id)">
              <mat-icon aria-label="Promote to leader">arrow_downward</mat-icon>
            </button>
            <button mat-icon-button (click)="promoteLeader(user.id)">
              <mat-icon aria-label="Demote leader">arrow_upward</mat-icon>
            </button>
          </ng-container>
          <button mat-icon-button (click)="removeMember(user.id)">
            <mat-icon aria-label="Remove member">clear</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row fxFlexAlign="center" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>